.barra {
  background-color: #ddd;
  overflow: hidden;
}

.barra a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.barra a:hover {
  background-color: steelblue;
  color: black;
}

.barra a.active {
  background-color: steelblue;
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}